.sobre-nosotros{
    background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(0,0,0,.7));

    height: 300px;
}

.content-1{
    height: 500px;
    background:#fff ;
}

.content-1 .title{
    font-family: 'Fontdiner Swanky',sans-serif;
}

.content-1 .img-nosotros1{
    background-image: url('../img/nostros-1.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

.content-1 .img-nosotros1 h1{
    font-size: 50px;
}

.sobre-nosotros-col img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.content-1 ul,
.content-1 li{
    list-style: none;
}

.sobre-nosotros-col span{
    font-size: 60px;
    color: wheat;
}

.content-2{
height: 400px;
background:#6271b3;
}

.content-2 h4{
    color: rgba(245,222,179 );
}

.content-2 .content-2-img img{
    width: 65%;
    height: 65%;
    border-radius: 100%;
    margin-bottom: 5px;
}

.content-2 .content-2-img .img-title{
    font-size: 20px;
    color: rgba(245,222,179 );

}

.content-2 .content-2-img .img-info{
    text-align: justify;
    color: #fff;
}

.content-2-img .img-1 img:hover,
.content-2-img .img-2 img:hover,
.content-2-img .img-3 img:hover{
    transform: rotateY(360deg);
    transition: all .8s ease-in-out;
}

@media screen and (max-width:991px){
    .img-info{
        text-align: justify;
        font-size: 13px;
        
    }

    .content-2{
        height: 300px;
    }
}

@media screen and (min-width:991px){
    .img-info{
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (max-width:825px){
    .img-info{
        text-align: justify;
        font-size: 11px;
    }
}


@media screen and (min-width:834px){
    .content-2 {
        height:  320px;
    }
}


@media screen and (min-width:991px){
    .content-2{
        height: 360px;
    }
}

@media screen and (min-width:1200px){
    .content-2{
        height: 380px;
    }
}


@media screen and (max-width:675px){
    .content-1{
        height: 590px;
    }
    .content-2{
        height: 325px;
    }
    .content-2 .content-2-img img{
        height: 50%;
        width: 100%;
    }

}